#bookingForm {
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(250, 250, 252, .8);
  border-radius: 1rem;
  width: 30rem;
  max-width: 25rem;
  margin-top: 10rem;
  margin-bottom: 4rem;
}
#bookingForm .wrapper {
  border: .1rem solid #495E57;
  border-radius: 1rem;
}
#bookingForm .heading {
  border-top-left-radius: .8rem;
  border-top-right-radius: .8rem;
  background-color: #495E57;
}
#bookingForm h4 {
  color: #EDEFEE;
  font-family: "Markazi Text";
  letter-spacing: .1rem;
  font-weight: 800;
}
#bookingForm .group {
  margin-bottom: 1rem;
}
#bookingForm .col {
  background-color: #EDEFEE;
  padding: 1rem 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
#bookingForm label {
  margin-top: .5rem;
  margin-right: 1rem;
  font-weight: bold;
}
#bookingForm input {
  border-radius: .5rem;
  border: .1rem solid #191919;
  width: 100%;
  padding: 0.5rem;
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
#bookingForm select {
  border-radius: .5rem;
  border: .1rem solid #191919;
  width: 100%;
  padding: 0.5rem;
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
#bookingForm .btn {
  background-color: #495E57;
  color: #EDEFEE;
  font-size: 1rem;
  border-radius: 24px;
  border: .1rem solid transparent;
  font-weight: 800;
  line-height: 2rem;
  letter-spacing: .1rem;
  &:hover {
    background-color: transparent;
    border: .1rem solid #495E57;
    color: #495E57;
  }
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
@media screen and (max-width: 360px) {
  #bookingForm {
    width: 20rem;
  }
}