#hero {
  background: #495E57;
  margin-bottom: 10rem;
}
#hero .left {
  padding: 2rem;
}
#hero img {
  border-radius: 12px;
  border: 1px solid #000;
  width: 400px;
  height: 424px;
  margin: 2rem 0rem;
}
#hero h1 {
  color: #F4C314;
  font-family: "Markazi Text";
  font-size: 56px;
  font-weight: 500;
  line-height: normal;
}
#hero h3 {
  color: #EDEFEE;
  font-family: "Markazi Text";
  font-size: 48px;
  font-weight: 400;
  line-height: normal;
  margin-top: -1rem;
}
#hero p {
  color: #EDEFEE;
  font-family: "Markazi Text";
  font-size: 20px;
  font-weight: 700;
  line-height: 140.625%; /* 28.125px */
}
#hero .btn {
  background-color: #f4ce14;
  color: #333333;
  font-size: 1.25rem;
  border-radius: 24px;
  border: .1rem solid transparent;
  font-weight: 800;
  line-height: 2.5rem;
  letter-spacing: .1rem;
  &:hover {
    background-color: transparent;
    border: .1rem solid #f4ce14;
    color: #EDEFEE;
  }
}
#hero h1,
#hero p,
#hero .btn {
  margin-bottom: 2rem;
}