#highlights {
  margin-bottom: 10rem;
}
#highlights .specials {
  margin-bottom: 5rem;
}
#highlights .btn {
  background-color: #f4ce14;
  color: #495E57;
  font-size: 1rem;
  border-radius: 1.5rem;
  border: .1rem solid transparent;
  font-weight: 800;
  line-height: 2rem;
  letter-spacing: .1rem;
}
#highlights .btn:hover {
  background-color: #495E57;
  border: .1rem solid #495E57;
  color: #EDEFEE;
}
#highlights .btn:focus {
  outline: none;
  box-shadow: none;
}
#highlights h2 {
  color: #000;
  font-family: Karla;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
}
#highlights .card {
  width: 16.542rem;
  height: 26.813rem;
}
#highlights .card-body {
  width: 16.542rem;
  height: 15.859rem;
}
#highlights img {
  width: 16.542rem;
  height: 11.579rem;
  border-radius: 1rem 1rem 0rem 0rem;
  border: 0.063rem solid #000;
}
#highlights .card-title {
  color: #000;
  margin: 0;
  font-family: "Markazi Text";
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.35rem;
}
#highlights .card-subtitle {
  margin: 0;
  color: #EE9972;
  font-family: Karla;
  font-weight: 700;
  line-height: normal;
}
#highlights .card-text {
  color: #495E57;
  font-family: Karla;
  font-weight: 400;
  line-height: normal;
}
#highlights .card-link {
  color: #333;
  font-family: Karla;
  font-weight: 700;
  line-height: normal;
}
#highlights .card-link img {
  width: 1.042rem;
  height: 0.659rem;
  margin-left: .4rem;
}