#highlights {
  margin-bottom: 10rem;
}
#highlights .specials {
  margin-bottom: 5rem;
}
#highlights .btn {
  background-color: #f4ce14;
  color: #495E57;
  font-size: 1rem;
  border-radius: 24px;
  border: .1rem solid transparent;
  font-weight: 800;
  line-height: 2rem;
  letter-spacing: .1rem;
  &:hover {
    background-color: #495E57;
    border: .1rem solid #495E57;
    color: #EDEFEE;
  }
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
#highlights h2 {
  color: #000;
  font-family: Karla;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 0;
}
#highlights .card {
  width: 264.667px;
  height: 429px;
}
#highlights .card-body {
  width: 264.667px;
  height: 253.742px;
}
#highlights img {
  width: 264.667px;
  height: 185.258px;
  border-radius: 16px 16px 0px 0px;
  border: 1px solid #000;
}
#highlights .card-title {
  color: #000;
  margin: 0;
  font-family: "Markazi Text";
  font-size: 24px;
  font-weight: 500;
  line-height: 90%; /* 21.6px */
}
#highlights .card-subtitle {
  margin: 0;
  color: #EE9972;
  font-family: Karla;
  font-weight: 700;
  line-height: normal;
}
#highlights .card-text {
  color: #495E57;
  font-family: Karla;
  font-weight: 400;
  line-height: normal;
}
#highlights .card-link {
  color: #333;
  font-family: Karla;
  font-weight: 700;
  line-height: normal;
}
#highlights .card-link img {
  width: 16.672px;
  height: 10.536px;
  margin-left: .4rem;
}