#about {
  margin-bottom: 10rem;
}
#about .container {
  width: 869px;
  height: 468px;
}
#about .group {
  width: 373px;
  height: 468px;
}
#about h1 {
  color: #000;
  font-family: "Markazi Text";
  font-size: 64px;
  font-weight: 500;
  line-height: normal;
}
#about h3 {
  width: 168px;
  color: #333;
  font-family: "Markazi Text";
  font-size: 40px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 4rem;
}
#about p {
  color: #000;
  text-align: justify;
  font-family: Karla;
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
}
#about img:nth-child(1) {
  width: 336px;
  height: 271.881px;
  border: 1px solid #000;
  backdrop-filter: saturate(180%) blur(20px);
  object-fit: cover;
  box-shadow: -.2rem .3rem 1rem rgba(0, 0, 0, .5);
}
#about img:nth-child(2) {
  width: 336px;
  height: 271.881px;
  border: 1px solid #000;
  backdrop-filter: saturate(180%) blur(20px);
  object-fit: cover;
  box-shadow: -.2rem .3rem 1rem rgba(0, 0, 0, .5);
}
@media (min-width: 992px) {
  .lg-rounded-top {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  .lg-rounded-bottom {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
}

@media screen and (max-width: 768px) {
  #about img:nth-child(1) {
    box-shadow: 0rem .3rem 1rem rgba(0, 0, 0, .5);
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
  }
  #about img:nth-child(2) {
    box-shadow: 0rem .3rem 1rem rgba(0, 0, 0, .5);
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
  }
}
@media screen and (max-width: 360px) {
  #about img:nth-child(1) {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
  }
  #about img:nth-child(2) {
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
  }
}