#about {
  margin-top: 10rem;
  margin-bottom: 10rem;
}
#about h1 {
  color: #000;
  font-family: "Markazi Text";
  font-size: 4rem;
  font-weight: 500;
  line-height: normal;
}
#about h3 {
  width: 10.5;
  color: #333;
  font-family: "Markazi Text";
  font-size: 2.5rem;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 4rem;
}
#about p {
  color: #000;
  text-align: justify;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: normal;
}
#about img:nth-child(1) {
  width: 21rem;
  height: 16.993rem;
  border: 0.063rem solid #495E57;
  object-fit: cover;
  box-shadow: -.2rem .3rem 1rem rgba(73, 94, 87, .5);
}
#about img:nth-child(2) {
  width: 21rem;
  height: 16.993rem;
  border: 0.063rem solid #495E57;
  object-fit: cover;
  box-shadow: -.2rem .3rem 1rem rgba(73, 94, 87, .5);
}
@media (min-width: 62rem) {
  .lg-rounded-top {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
  .lg-rounded-bottom {
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
}

@media screen and (max-width: 48rem) {
  #about img:nth-child(1) {
    box-shadow: 0rem .3rem 1rem rgba(73, 94, 87, .5);
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
  }
  #about img:nth-child(2) {
    box-shadow: 0rem .3rem 1rem rgba(73, 94, 87, .5);
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
  }
}
@media screen and (max-width: 22.5rem) {
  #about img:nth-child(1) {
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
  }
  #about img:nth-child(2) {
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
  }
}