#header {
  margin-bottom: 5rem;
}
#nav-bar {
  background-color: rgb(255, 255, 255);
  backdrop-filter: saturate(180%) blur(20px);
  border-bottom: 0.1rem solid #495e57;
  min-height: 6.25rem;
  padding: 0rem 1rem;
  transition: background-color 0.3s ease;
  z-index: 1000;
}
#nav-bar .navbar-brand {
  cursor: default;
}
#nav-bar .navbar-toggler {
  border: none;
}
#nav-bar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
#nav-bar .nav-item {
  margin-right: 0.5rem;
  padding: 0.5rem;
  font-weight: 800;
}
#nav-bar .btn {
  background-color: transparent;
  color: #495E57;
  font-size: 1rem;
  border-radius: 24px;
  border: .1rem solid #495E57;
  font-weight: 800;
  line-height: 2rem;
  letter-spacing: .1rem;
}
#nav-bar .btn:hover {
  background-color: #495E57;
  color: #EDEFEE;
}
#nav-bar .btn:focus {
  outline: none;
  box-shadow: none;
}
@media screen and (max-width: 360px) {
  #header {
    margin-bottom: 2.75rem;
  }
  #nav-bar {
    min-height: 4rem;
  }
}