nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1.75rem;
}
nav a {
  color: black;
  text-decoration: none;
}
.container-fluid {
  gap: 2rem;
}
.nav-link {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
.navbar-brand img {
  width: 202px;
  height: 76px;
  flex-shrink: 0;
}