* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.loader {
  background-color: white;
  color: #495E57;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: .1rem;
  overflow: hidden;
}
/* .loader {
  backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(250, 250, 252, .8);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
} */