#message .col {
  display: flex;
  align-items: center;
  justify-content: center;
}
#message .card-header {
  backdrop-filter: saturate(180%) blur(1.25rem);
  background-color: rgba(250, 250, 252, .8);
  /*
  495E57
  F4C314
  EDEFEE
  */
  color: #495E57;
  transition: background-color 0.3s ease;
  border-radius: 1rem;
  border: .1rem solid #495E57;
  animation: loading 1s infinite alternate cubic-bezier(0.86, 0, 0.07, 1);
}
@keyframes loading {
  from {
    box-shadow: inset 0rem 0rem .1rem rgba(73, 94, 87, 0.8);
  } to {
    box-shadow: inset 27rem 0rem .1rem rgba(73, 94, 87, 0.8);
    color: #EDEFEE;
  }
}